{% extends 'pages/index-nav.html' %}
{% load static %}
{% block link_tag %}
{% endblock link_tag %}
{% block page_title %}Test Page{% endblock page_title %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Products</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        
            <div class="col-sm-6 col-md-4 col-lg-3">
            <div>
                <a href="/product/{{product.pk}}/">
                    <div class="card product-card">
                        <img class="img card-img-top img-fluid" src="{{ product.product_image }}">
                        <div class="card-body">
                            <div class="card-title"> {{product.title|truncatechars:20}}</div>
                            <!-- <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                                <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}
{% block script_tag %}
<script src="{% static "pages/js/counter.js" %}"></script>
<script src="{% static "pages/js/owl.carousel.min.js" %}"></script>
{% endblock script_tag %}