{% extends 'pages/index-nav.html' %}
{% load static %}
{% block link_tag %}
{% endblock link_tag %}
{% block page_title %}Test Page{% endblock page_title %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Products</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="owl-carousel">
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c101.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product1</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c111.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product2</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c121.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product3</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c131.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product4</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c141.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product5</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c151.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product6</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c161.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product7</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/c31.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product8</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <div class="owl-carousel">
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M1.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product1</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M2.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product2</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M3.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product3</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M4.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product4</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M5.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product5</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M6.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product6</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card product-card">
                <img class="card-img-top img-fluid" src="{% static "pages/img/product/M7.jpg" %}">
                <div class="card-body">
                    <div class="card-title"> Product7</div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic nobis molestias rem eius assumenda.<br/>
                        <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>



{% endblock content %}
{% block script_tag %}
<script src="{% static "pages/js/counter.js" %}"></script>
<script src="{% static "pages/js/owl.carousel.min.js" %}"></script>
{% endblock script_tag %}